<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout</title>
    <link rel="stylesheet" href="/day2/layouts/css/normalize.css" />
    <link rel="stylesheet" href="/day2/layouts/css/style.css" />
  </head>
  <body>
    <!-- <span class="box 1">1</span>
    <span class="box 2">2</span>
    <span class="box 3">3</span>
    <span class="box 4">4</span> -->

    <div class="square"></div>
    <div class="circle"></div>
    <div class="triangle"></div>
    <div class="star"></div>
  </body>
</html>
